@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.block {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about__list,
.social__list,
.nav__list,
.filter__list,
.filter-result__list,
.hotels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main,
.social {
  background-color: #ffffff;
}

/* links and buttons ------------------------------------------------*/
.search__btn-toggle {
  display: block;
  width: 568px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  background-color: #766357;
}

.search__btn {
  /* display: block; */
  width: 458px;
  margin-bottom: 55px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-size: 21px;
  font-weight: bold;
  line-height: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0;
  cursor: pointer;
}



.hotel__btn-more,
.hotel__btn-booking {
  padding-top: 4.5px;
  padding-right: 16px;
  padding-bottom: 4.5px;
  padding-left: 17px;
  height: 26px;
  font-weight: bold;
  color: #ffffff;
}

.hotel__btn-more {
  background-color: #81b3d2;
  margin-right: 3px;
}

.hotel__btn-booking {
  background-color: #766357;
}

.social__btn {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  text-align: center;
  line-height: 52px;
}

.facebook {
  line-height: 58px;
}

/* links and buttons states -----------------------------------------*/
.link-text:hover,
.link-text:focus {
  color: #81b3d2;
}

.link-text:active {
  color: #cacaca;
}

.filter__btn {
  font-size: 14px;
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  margin-right: 97px;
}

.filter__btn:hover,
.filter__btn:focus {
  color: #000000;
  background-color: #ffffff;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604E43;
}

.btn-brown:active {
  color: #928A85;
  background-color: #503E33;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669EC0;
}

.btn-blue:active {
  color: #94B9D2;
  background-color: #5496BD;
}

.academy__link:hover path,
.academy__link:focus path {
  fill: #81b3d2;
}

.academy__link:active path {
  fill: #BDBBBC;
}

.social__btn:active path {
  fill: #88B6D1;
  background-color: #5496BD;
}

/* sedona index catalog navigation ----------------------------------*/
.nav {
  line-height: 26px;
  font-weight: bold;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.nav__logo-link {
  position: absolute;
  right: 530px;
  z-index: 2;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  width: 239px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  letter-spacing: 0.1px;
  margin-bottom: 2px;
}

.nav__link--active {
  color: #766357;
}

.nav__item:nth-child(3) {
  width: 244px;
}

.nav__item:nth-child(2) .nav__link {
  padding-left: 5px;
}


.nav__item:nth-child(5) .nav__link {
  padding-left: 15px;
}

/* sedona index intro -----------------------------------------------*/
.intro {
  text-align: center;
  line-height: 26px;
  background-color: #ffffff;
}

.intro__bg {
  background-color: #3D729E;
  background-image: url(../img/intro-polygon.png),
    url(../img/intro-welcome.png),
    url(../img/intro-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom -1px center,
    top 75px center,
    top -56px center;
  min-height: 508px;
}

.intro__block {
  width: 490px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 51px;
  margin-left: auto;
}

.intro__title {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

/* sedona index about -----------------------------------------------*/
.about__item {
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.about__item-first-row,
.about__item-third-row {
  color: #ffffff;
  background-color: #d3d3d3;
}

.about__item-first-row .dash,
.about__item-third-row .dash {
  color: #ffffff;
}

.about__item-second-row .about__heading {
  margin-bottom: 10px;
}

.about__item-fourth-row {
  background-color: #efefef;
}

.about__heading {
  font-size: 21px;
  font-weight: bold;
  width: 150px;
}

.about__city,
.about__brige {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 45px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #81b3d2;
}

.about__brige span {
  white-space: nowrap;
  width: 150px;
}

.about__city > .about__heading,
.about__brige > .about__heading {
  margin-bottom: 25px;
}

.about__city > .about__number,
.about__brige > .about__number {
  margin-bottom: 7px;
}

.about__city > .about__text {
  width: 285px;
}

.about__brige > .about__text {
  width: 310px;
}

.about__feature {
  padding-top: 60px;
  padding-bottom: 68px;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__feature > .about__text {
  width: 285px;
}

.about__housing::before {
  content: url(../img/icon-housing.svg);
  margin-bottom: 2px;
}

.about__food::before {
  content: url(../img/icon-food.svg);
  margin-bottom: 2px;
}

.about__gift::before {
  content: url(../img/icon-giftbox.svg);
  margin-bottom: 2px;
}

.about__food {
  padding-top: 61px;
}

.about__gift {
  padding-top: 56px;
}

.about__place {
  padding-top: 27px;
  padding-bottom: 45px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about__place .about__heading {
  margin-bottom: 24px;
}

.about__place .about__number {
  margin-bottom: 7px;
}

.about__square > .about__text,
.about__road > .about__text {
  width: 270px;
}

.about__tourists > .about__text {
  width: 250px;
}

.about__bg {
  min-width: 800px;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.about__city-bg {
  background-image: url(../img/about-first-bg.jpg);
}

.about__brige-bg {
  background-image: url(../img/about-second-bg.jpg);
}

.dash {
  font-weight: bold;
  color: #a8a8a8;
}

/* sedona index hotel search ----------------------------------------*/
.search {
  min-height: 762px;
  text-align: center;
  line-height: 26px;
  padding-top: 49px;
  position: relative;
  z-index: 10;
}

.search__first-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
  /* padding: 0; */
}

.search__second-text {
  width: 435px;
  line-height: 23px;
  margin: 0 auto;
  margin-bottom: 47px;
}

.search__second-text span {
  white-space: nowrap;
}

.search__container {
  /* display: none; */
  width: 568px;
  min-height: 365px;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  padding-top: 43px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.search__form {
  width: 458px;
  font-weight: bold;
  margin: 0 auto;
}

.search__date {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search__date svg {
  position: absolute;
  top: 7px;
  right: 9px;
}

.search__date:last-child {
  margin-bottom: 17px;
}

.search__form-date-in,
.search__form-date-out {
  letter-spacing: 0.3px;
  margin-right: auto;
}

.search__input {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  width: 345px;
  background-color: #f2f2f2;
  border: 0;
}

.search__input::-ms-clear {
  display: none;
}

.search__input:hover + svg path,
.search__input:focus + svg path {
  fill: #000000;
}

.search__input:active + svg path {
  fill: #81b3d2;
}

.search__input:hover,
.search__input:focus {
  background-color: #ebebeb;
}

.search__input:active {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

.search__people-count {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.search__adults {
  margin-right: 55px;
}

.search__label-adults {
  width: 90px;
  margin-right: 38px;
}

.search__label-kids {
  margin-right: 24px;
}

.search__input-adults,
.search__input-kids {
  font-weight: bold;
  width: 38px;
  height: 38px;
  margin-right: -3.5px;
  padding-left: 16px;
  background-color: #f2f2f2;
  border: 0;
}

.search__btn-minus,
.search__btn-plus {
  font-size: 25px;
  font-weight: bold;
  vertical-align: top;
  color: #a9a9a9;
  padding-top: 5px;
  padding-right: 13.5px;
  padding-bottom: 5px;
  padding-left: 13.5px;
  background-color: #f2f2f2;
  border: 0;
  margin-right: -3.5px;
}

.search__btn-minus:hover,
.search__btn-plus:hover,
.search__btn-minus:focus,
.search__btn-plus:focus {
  color: #000000;
}

.search__btn-minus:active,
.search__btn-plus:active {
  color: #81b3d2;
}

/* sedona index map -------------------------------------------------*/
.map {
  /* display: none; */
  width: 100%;
  position: absolute;
  top: 289px;
  z-index: -1;
}

.map iframe {
  float: right;
}

/* sedona catalog filter --------------------------------------------*/
.filter {
  min-height: 217px;
  line-height: 21px;
  color: #ffffff;
  background-color: #94B9D2;
  background-image: url(../img/hotels-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: -55px;
}

.filter-container {
  display: flex;
  padding-top: 27px;
  padding-right: 71px;
  padding-left: 72px;
}

.filter-infrastructure {
  margin-right: 114px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__heading {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

.filter-infrastructure .filter__input--checkbox[type="checkbox"]:checked + label::before {
  content: url(../img/checkbox-on.svg );
  margin-right: 12px;
}

.filter-infrastructure .filter__input--checkbox[type="checkbox"]:not(:checked) + label::before {
  content: url(../img/checkbox-off.svg );
  margin-right: 16px;
}

.filter-housing {
  margin-right: auto;
}

.filter-housing .filter__list {
  padding-left: 1px;
}

.filter-housing .filter__input--checkbox[type="checkbox"]:checked + label::before {
  content: url(../img/checkbox-on.svg );
  margin-right: 14px;
}

.filter-housing .filter__input--checkbox[type="checkbox"]:not(:checked) + label::before {
  content: url(../img/checkbox-off.svg );
  margin-right: 18px;
}

.filter__list-item:nth-child(1) {
  margin-bottom: 17px;
}

.filter__list-item:nth-child(2) {
  margin-bottom: 16px;
}

.filter__block label.filter__label {
  vertical-align: top;
}

.filter-range__block {
  width: 318px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 10px;
}

.filter-range__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  letter-spacing: 0.1px;
}

.filter-range__min {
  margin-left: 64px;
}

.filter-range__min input[name="price-min"] {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #ffffff;
  height: 22px;
}

.filter-range__max {
  margin-left: 48px;
}

.filter-range__min input,
.filter-range__max input {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 74px;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.filter-range__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  position: relative;
}

.filter-range__line {
  width: 100%;
  height: 2px;

  position: absolute;
  top: 10px;
}

.filter-range__line--white {
  width: 260px;
  border: 1px solid #ffffff;
}

.filter-range__line--grey {
  border: 1px solid #ffffff;
  opacity: 0.3;
}

.filter-range__btn {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
}

.filter-range__btn--left {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 2;
}

.filter-range__btn--right {
  position: absolute;
  top: 1px;
  right: 46px;
  z-index: 2;
}

/* sedona catalog filter result ------------------------------------- */
.filter-result {
  padding-right: 72px;
  padding-left: 72px;
  height: 86px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.filter-result__block {
  display: flex;
  align-items: baseline;
}

.filter-result__find {
  font-size: 21px;
  font-weight: bold;
  margin-right: 48px;
}

.filter-result__list {
  display: flex;
}

.filter-result__sorting {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.filter-result__list-item {
  font-size: 12px;
  line-height: 18px;
  height: 17px;
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;
}

.filter-result__list-item--active {
  border-bottom: 0;
}

.filter-result__list-item:active {
  border-bottom-color: #ffffff;
}

.filter-result__list-item:last-child {
  margin-right: 503px;
}

.filter-result__link {
  line-height: 18px;
  color: #cccccc;
}

.filter-result__link:active {
  color: #000000;
  text-decoration: none;
}

.filter-result__link--active {
  color: #81b3d2;
  text-decoration: none;
}

.filter-result__link:hover path,
.filter-result__link:focus path {
  fill: #000000;
}

.filter-result__link:active path {
  fill: #81b3d2;
}

.filter-result__arrow path {
  fill: #cacaca;
}

.filter-result__arrow-up {
  display: inline-block;
  padding-top: 12px;
  margin-right: 8px;
}

.filter-result__arrow-down {
  /* padding-top: 8px; */
  /* margin-right: 7px; */
  display: inline-block;
  margin-bottom: 9px;
}

.filter-result__arrow--active path{
  fill: #81b3d2;
}

/* sedona catalog hotels --------------------------------------------*/
.hotels__list-item {
  margin: 0;
  padding: 0;
  padding-right: 72px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  line-height: 21px;
  height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel__block {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.hotel__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -2px;
}

.hotel__title {
  font-size: 21px;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0;
}

.hotel__text {
  margin: 0;
  padding: 0;
}

.hotel__price-block {
  color: #333333;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  display: flex;
}

.hotel__type {
  display: block;
  width: 110px;
  margin-right: 6px;
}

.hotel__price {
  display: block;
}

.hotel__btn-block {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

.hotel__img-block {
  margin-right: 30px;
}

.hotel__link {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
  justify-content: center;
}

.hotel__img {
  margin: 0;
  padding: 0;
}

.hotel__rating-block {
  position: relative;
  right: 0;
  margin: 0;
  padding: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel__stars {
  height: 18px;
  display: block;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.hotel__rating {
  color: #666666;
  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 15px;
  background-color: #f2f2f2;
}

.hotel-1 {
  width: calc(18px * 4);
}

.hotel-2 {
  width: calc(18px * 3);
}

.hotel-3 {
  width: calc(18px * 2);
}

/* footer -----------------------------------------------------------*/
.social {
  line-height: 26px;
  height: 122px;
  padding-left: 132px;
  padding-right: 100px;
  padding-bottom: 2px;
  background-color: #ffffff;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 15;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-right: 28px;
  padding: 0;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 6px;
}

.social__item:last-child {
  margin: 0;
}

.academy {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.academy__web {
  margin-right: 8px;
}

.academy__link {
  display: flex;
  align-items: center;
}

.academy__link svg {
  width: 115px;
  height: 41px;
}
